@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Red+Hat+Display:wght@200;300;400;500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* layout */
.container{
  width: 100%;
  height: 100vh;
  display: flex;
}
.content{
  justify-content: center;
  padding: 2rem 3.5rem;
  display: flex;
  width: 100%;
  
}
// left side
.site-intro{
  position: relative;
  width: 30%;
  background: #F3F5F9;
  flex-direction: column;
  border-radius: 16px;
  padding:2rem ;
  overflow: hidden;
  .logo{
    display: flex;
    margin: 0;
  }
  h1{
    font-size: 2.5rem;
    justify-self: center;
    font-weight: 500;
    margin-top:8rem ;
  }
  p{
    color: #6E6D7A;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
  
  }
  .watermark{
  display: flex;
  position: absolute;
  z-index: 3;
 
  padding: 1rem 6rem;
  svg{
    height: 8rem;
  }
}
    
  
}



// right side

.user-details{
  width: 30%;
  padding:2rem ;
  .user-container{
    p{
      color: #6E6D7A;
      font-weight: 500;
    }
    .link-btn{
      background:transparent;
      color: #007BFF;
      border: none;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 14px;
    }
  }
  
}
.user-card-title{
  font-weight: 500;
  font-size: 2rem;
}
.user-card-subtitle{
  color: #6E6D7A;
}
.user-card-list{
  display: flex;
  flex-direction: column;

}

// typography
.btn{
    border: none;
    margin-top: 1rem;
    border-radius: 4px;
    padding: 1rem;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 700;
    background: #007BFF;
  }
label{
  color:#6E6D7A;
  margin-top: 1rem;
}
input{
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: #6E6D7A;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid #DFDFDF;
  padding: 1rem;
}

//Mobile Size
@media (max-width:650px) {
  .content{
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 2rem;
    .site-intro{
      width: 100%;
      .logo{
        height: 1rem;
      }
      h1{
        margin-top: 5rem;
        font-size: 2rem;
      }
      p{
        font-size: 1.2rem;
      }
    }
    
    .user-details{
      width: 100%;
      padding-bottom:6rem;
    }
  }
}
